.app {
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.input-field {
  padding: 1em;
  width: 100%;
  margin-left: 25px;
  border-radius: 5px;
  margin-bottom: 30px;
}

h3,
p {
  margin-left: 27px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #bb86fc;
  margin-left: 27px;
  margin-bottom: 50px;
}

@media (min-width: 320px) and (max-width: 769px){
  .app {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
  } 

  .input-field {
    padding: 1em;
    width: 50%;
    margin-left: 25px;
    border-radius: 5px;
    margin-bottom: 30px;
  } 

  .content{
    align-items: center;
  }
  
  }
  
